
 *{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/banner.jpg);
    background-size: cover;
    height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

.navbar{
    height: 12%;
    display: flex;
    align-items: center;
 }

.logo{
    width: 60px;
    cursor: pointer;
 }

.menu-icon{
    width: 14px;
    cursor: pointer;
    margin-left: 40px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}

.row{
    display: flex;
    height: 88%;
    align-items: center;
}

.col{
    flex-basis: 50%;
}

h1{
    color: rgba(255, 255, 255, 0.614);
    font-size: 70px;
}

p{
    color: rgba(243, 234, 234, 0.68);
    font-size: 15px;
    line-height: 15px;
}

button{
    width: 180px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    padding: 12px 0;
    background: rgba(208, 204, 204, 0.733);
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
    cursor: pointer;  
}

.card{
    width: 250px;
    height: 250px;
    margin-left: 40px;
    margin: left;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 15px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.card1{
    background-image: url(images/card1.jpg);
}
.card2{
    background-image: url(images/card2.png);
}
.card3{
    background-image: url(images/card3.png);
}
.card4{
    background-image: url(images/card5.jpg);
}

.card:hover{
    transform: translateY(-10px);
}

h5{
    color: rgba(255, 255, 255, 0.863);
    text-shadow: 0,0,5px #999;
}

.card p{
    text-shadow: 0 0 15px #000;

}